// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.nav-buffer {
    height: 100vh;
    width: 20%;
}
#heroTitle {
    min-height: 80vh;
}
.contentContainer {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $gray-100;
    min-height: 86vh;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    //padding: 2rem;
    border-radius: 10px;
}
article {
    line-height: 1.8;
    font-size: 1rem;
}

.responsiveGrid {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-color: $dark;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gridItem-noImage {
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    padding: 1rem;
    font-size: 1rem;
}

.gridItem:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.03);
}
.gridItem-noImage:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.01);
}
.lightLink {
    color: $text-muted;
}
.lightLink:hover {
    color: $text-muted;
    text-decoration: none;
}
.cardLink {
    cursor: pointer;
}
body {
    background-color: $gray-100;
}

footer {
    bottom: 0;
}
.recentComment {
    cursor: pointer;
}
.bg-palered {
    background-color: $palered;
}
.bg-paleblue {
    background-color: $paleblue;
}
.bg-palegreen {
    background-color: $palegreen;
}
.bg-paleyellow {
    background-color: $paleyellow;
}
.admin-nav {
    height: 100vh;
    position: fixed;
    background-color: $gray-100;
    overflow-y: scroll;
    width: 20%;
    padding: 1rem;
}
.admin-nav-mini {
    display: none !important;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}
.admin-panel {
    height: 100%;
    width: 100%;
}
.admin-content {
    width: 80%;
    min-height: 100vh;
}
.dashboard-subcontainer-aside {
    width: 30%;
    height: 100%;
}
.dashboard-subcontainer-main {
    width: 70%;
    height: 100%;
}
.metrics-visitor {
    width: 60%;
    height: 20rem;
}
.metrics-browser {
    width: 40%;
    height: 20rem;
    margin-left: 1.5rem;
}
.quick-metrics-container {
    justify-content: space-between;
}
.quick-metric {
    min-width: 11rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    color: $gray-800;
    border-radius: 8px;
    margin: 0.2rem;
}
strong {
    font-weight: 900;
}
.split-editor {
    display: flex;
    flex-direction: column-reverse;
}
.ProseMirror {
    @extend .my-2;
    @extend .px-2;
    @extend .py-1;
    border: 1px solid $gray-300;
    resize: vertical;
    overflow: scroll;
    //text-wrap: normal;
}

pre {
    overflow: scroll;
    max-height: 25rem;
}
p code {
    background-color: $gray-200 !important;
    padding: 0.2rem;
    border-radius: 4px;
}
.emoji {
    height: 1rem;
    width: 1rem;
}
.milkdown-split-editor {
    border: 1px solid $gray-300;
    //border-bottom: none;
    resize: vertical;
    max-height: 25rem;
    overflow: scroll;
}
.article-banner {
    height: 20rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
@media screen and (max-width: 1450px) {
    .admin-nav{
        display: none !important
    }
    .admin-nav-mini {
        display: block !important;
    }
    .nav-buffer {
        width: 4.5rem;
    }
    .admin-content {
        width: 96%;
    }


}
@media screen and (max-width: 1100px) {
    .dashboard-subcontainer-aside {
        display: none;
    }
    .dashboard-subcontainer-main {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .metrics-visitor {
        width: 100%;
    }
    .metrics-browser {
        width: 100%;
        margin-left: 0;
    }
    .quick-metrics-container {
        justify-content: start;
    }
}
@media screen and (min-width: 600px) {
    .gridItem-tall {
        grid-row: span 2 / auto;
    }

    .gridItem-wide {
        grid-column: span 2 / auto;
    }
}

